{{define "title"}}Create a New Image{{end}} {{define "main"}}

<body>
  <script>
    var loadFile = function (event) {
      var image = document.getElementById("preview");
      image.src = URL.createObjectURL(event.target.files[0]);
    };
  </script>

  <div class="mainBlock">
    <div class="wrapper">
      <div class="container">
        <form enctype="multipart/form-data" action="/picture/create" method="POST" class="formView">
          <div class="overlay">
            <div class="overlay__inner">
              <h1 class="overlay__title">Title:</h1>
              <input type="text" name="title"  class="inputTitleCreate"/>
              <h1 class="overlay__title">Upload picture:</h1>
           
   
              <label class="avatar-field">
                <input type="file" name="file" id="avatar" class="inputImage" accept="image/jpeg,image/png" onchange="loadFile(event)" />
              </label>
              <div class="photo">
              
                <div class="forPhoto"><img class="photo" id="preview" /></div>
                <input type="submit" class="inputSubmit" value=" Publish image" />
            </div>
           
           
            </div>
          </div>
       
        </form>
      
      </div>
    </div>
  </div>
</body>
{{end}}



