{{define "title"}}Home{{end}}
{{define "main"}}
{{if .Pictures}}
<main class="my-5">
  <div class="container">
    <section>
      <div class="row gx-5 col-md-3 ">
        {{range .Pictures}}
        <!-- 1 block -->
        <div>
          <div class="bg-image hover-overlay shadow-1-strong ripple mb-4" data-mdb-ripple-color="light">
            <img src="/pictures{{.Path}}" class="img-fluid"/>
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <a href='/picture/view/{{.ID}}' class="text-dark">
            <h5>Owner: {{ .Owner}}</h5>
            <p> {{humanDate .Created}} </p>
          </a>
          <hr />
        </div>
        {{end}}
      </div>
    </section>
  </div>
</main>
{{else}}
<p>There's nothing to see here... yet!</p>
{{end}}
{{end}}