{{define "title"}}login{{end}}
{{define "main"}}

  <body class="text-center">
    <div class="form-signin  bg-light">
      <form class="loginSignin" style="width: 50%; margin: 10% auto;"  action="/signin" method="POST" novalidate>
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        {{with .Form.FieldErrors.name}}
            <label class='error'>{{.}}</label>
        {{end}}
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="Login"
            name = 'name'
            value='{{.Form.Name}}'
          />
          <label for="floatingInput">Login </label>
        </div>
        {{with .Form.FieldErrors.password}}
        <label class='error'>{{.}}</label>
    {{end}}
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            name = 'password'
          />
          <label for="floatingPassword">Password</label>
        </div>
        <div class="checkbox mt-2">
          <label>
            <input type="checkbox" value="remember-me" /> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-dark" type="submit">Sign in</button>
      </form>
    </div>
  </body>

{{end}}