{{define "title"}} Sign up {{end}}

{{define "main"}}
<body class="text-center">
    <div class="form-signin bg-light">
      <form class="loginSignin" style="width: 50%; margin: 10% auto;"  action="/signup" method="POST" novalidate>
        <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
            {{with .Form.FieldErrors.name}}
                <label class='error'>{{.}}</label>
            {{end}}
        <div class="form-floating mb-3">
            <input
            type="text"
            class="form-control"
            placeholder="Login"
            required
            minlength="4"
            maxlength="22"
            name = 'name'
            value='{{.Form.Name}}'
          />
          <label for="floatingInput">Login </label>
        </div>
                {{with .Form.FieldErrors.password}}
                    <label class='error'>{{.}}</label>
                {{end}}
            <div class="form-floating mb-3">
            <input
            type="password"
            name = 'password'
            class="form-control"
            placeholder="Login"
            required
            minlength="4"
            maxlength="55"
          />
        
          <label for="floatingInput">Password </label>
        </div>
        <div class="checkbox mt-2">
          <label>
            <input type="checkbox" value="remember-me" /> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-dark" type="submit">Sign Up</button>
      </form>
    </div>
  </body>
    {{end}}