{{define "title"}}Picture | {{.Picture.Title}}{{end}} 

{{define "main"}} 
  {{with .Picture}}
  
  <body  class="viewBodyBlock">
    <div class="mainBlock">
      <div class="wrapperForView">
        <div class="containerForView">
            <div class="imgBlock">
              <img src="/pictures{{.Path}}" alt="" />
            </div>
            <div class="contentForView">
              <h1>Title: {{.Title}}</h1> 
              <h3>Owner: {{.Owner}}</h3>
              <h3>Publication date: {{humanDate .Created}}</h3>
            </div>
        </div>
        </div>
      </div>
  </body>
  {{end}} 
{{end}}
